<div class="container">
    <div class="cartas">
        <div class="carta" *ngFor="let carta of cartas; let i = index;" (click)="mostrarDetalles($event, i, carta)"
            [ngStyle]="{
            transform: cartaTransform[i]
        }" (mouseenter)="onMouseEnterDorso($event, cartasSeleccionadas.length)">
        </div>
    </div>
</div>

<div class="container2" *ngIf="cartasSeleccionadas">

    <div *ngFor="let carta of cartasSeleccionadas; let i=index">

        <div class=" cartaSeleccionada" [ngClass]="'cartaMostrada-' + (i + 1)" (mouseenter)="onMouseEnter($event)"
            [ngStyle]="cartaVistaStyles">
            <figure>
                <img [src]="carta.imagen" [alt]="carta.nombre">
            </figure>

            <div class="texto">
                <h2>{{carta.nombre}}</h2>
                <p>La respuesta a tu pregunta es: {{carta.si_o_no}}</p>
            </div>
        </div>

    </div>

</div>