<section class="arcana-cards">
    <div class="instructions">
        <p>Elige 2 cartas</p>
    </div>
    <ul class="container card-container">
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>
        <li class="card">
            <img src="https://eltarotcomoguia.com/tarot-gratis/img/reverso_carta.png" alt="...">
        </li>

    </ul>
</section>