.cabecera {
    width: 100%;
    height: 100px;
    margin-top: 2%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.cabecera h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 4rem;
    margin-left: 18.5%;
}

.descripcion {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.descripcion p {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 15%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.cartas {
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

img {
    display: block;
}

.carta {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-pantalla-mistico-dibujado-mano_23-2149459343.jpg?w=360&t=st=1694264117~exp=1694264717~hmac=707048db6cd45ed26f54c696169d1eaf9a975464956853cee7f92f105283cb72);
    background-size: cover;
    max-width: 100%;
    width: 200px;
    height: 360px;
    border-radius: 20px;
    transition: 0.6s;
}

.carta:hover {
    transform: translateY(-83px);
}

/* .carta:nth-child(n) {
    z-index: n;
    position: absolute;
    left: calc(4% * (n - 1));
} */

.carta:nth-child(1) {
    z-index: 1;
    position: absolute;
    left: 0%;

}

.carta:nth-child(2) {
    z-index: 2;
    position: absolute;
    left: 4%;

}

.carta:nth-child(3) {
    z-index: 3;
    position: absolute;
    left: 8%;
}

.carta:nth-child(4) {
    z-index: 4;
    position: absolute;
    left: 12%;
}

.carta:nth-child(5) {
    z-index: 5;
    position: absolute;
    left: 16%;
}

.carta:nth-child(6) {
    z-index: 6;
    position: absolute;
    left: 20%;
}

.carta:nth-child(7) {
    z-index: 7;
    position: absolute;
    left: 24%;
}

.carta:nth-child(8) {
    z-index: 8;
    position: absolute;
    left: 28%;
}

.carta:nth-child(9) {
    z-index: 9;
    position: absolute;
    left: 32%;
}

.carta:nth-child(10) {
    z-index: 10;
    position: absolute;
    left: 36%;
}

.carta:nth-child(11) {
    z-index: 11;
    position: absolute;
    left: 40%;
}

.carta:nth-child(12) {
    z-index: 12;
    position: absolute;
    left: 44%;
}

.carta:nth-child(13) {
    z-index: 13;
    position: absolute;
    left: 48%;
}

.carta:nth-child(14) {
    z-index: 14;
    position: absolute;
    left: 52%;
}

.carta:nth-child(15) {
    z-index: 15;
    position: absolute;
    left: 56%;
}

.carta:nth-child(16) {
    z-index: 16;
    position: absolute;
    left: 60%;
}

.carta:nth-child(17) {
    z-index: 17;
    position: absolute;
    left: 64%;
}

.carta:nth-child(18) {
    z-index: 18;
    position: absolute;
    left: 68%;
}

.carta:nth-child(19) {
    z-index: 19;
    position: absolute;
    left: 72%;
}

.carta:nth-child(20) {
    z-index: 20;
    position: absolute;
    left: 76%;
}

.carta:nth-child(21) {
    z-index: 21;
    position: absolute;
    left: 80%;
}

.carta:nth-child(22) {
    z-index: 22;
    position: absolute;
    left: 84%;
}

.container2 {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.cartaSeleccionada {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 450px;
    opacity: 0;
    transition: 0.6s;
}


.cartaSeleccionada figure {
    width: 200px;
    height: 355px;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 20px;
}

.cartaSeleccionada img {
    width: 210px;
    height: 400px;
}

.cartaSeleccionada .texto {
    width: 350px;
    background-color: var(--colorrosa);
    border-radius: 10px;
    padding: 20px;
    margin: 0px 20px 20px 20px;
}

.cartaSeleccionada .texto h2 {
    text-align: center;
    font-family: var(--fuentetitulos);
}

.cartaSeleccionada .texto p {
    text-align: justify;
    font-family: var(--fuentetexto);
    font-size: var(--tamañotexto);
}


/* cartas seleccionadas, dorso */

.carta.posicion-1 {
    left: 157px;
}

.carta.posicion-2 {
    left: 546px;
}

.carta.posicion-3 {
    left: 936px;
}


/* cartas seleccionadas, cara */

.cartaSeleccionada.cartaMostrada-1 {
    margin-left: 180px;
}