<header>
  <nav>
    <div class="logo">
      <img src="mi-logo.png" alt="Logo">
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button">
        Tiradas
      </button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" type="button">Consejo del dia</button></li>
        <li><button class="dropdown-item" type="button">Si o no</button></li>
        <li><button class="dropdown-item" type="button">Soy lo mas</button></li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
  <app-consejo></app-consejo>
</main>

<footer>

</footer>