<header>
  <nav>
    <div class="dropdown">
      <button class="btn btn-secondary" type="button">
        Tiradas
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="/consejo">Consejo del día</a></li>
        <li><a class="dropdown-item" routerLink="/si_o_no">Sí o no</a></li>
        <li><a class="dropdown-item" routerLink="/autoestima">Cualidades</a></li>
      </ul>
    </div>
    <div class="logo">
      <h1>TarotReader</h1>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>

</footer>

<!-- imagen de fondo
https://img.freepik.com/free-photo/abstract-grey-color-drop-water_53876-105879.jpg?w=826&t=st=1695134927~exp=1695135527~hmac=baa4e66c6d6c01fb694badc7aaacfe23b46c00347573dc2fb85791007db733df 

https://img.freepik.com/premium-photo/pink-smoke-black-background-colorful-fog-abstract-swirl-vaping-seamless-pattern_379823-3113.jpg?w=826-->