<section class="cabecera">
    <h2>Bienvenid@ a TarotReader</h2>
</section>
<section class="descripcion">
    <p>Explora estas tiradas, diseñadas para brindarte orientación y autoconocimiento,<br>y descubre las respuestas que
        el
        Tarot tiene para ti.</p>
</section>

<div class="container">
    <div class="cartas">
        <div class="carta" *ngFor="let carta of cartas">

        </div>
    </div>
</div>

<div class="container2">
    <section class="usos">
        <h2>Usos del Tarot</h2>
        <p>Aunque tiene reputación de servir para predecir el futuro, el Tarot es mucho más que eso. Puede ser una
            herramienta poderosa para la reflexión personal, la toma de decisiones y el autoconocimiento.</p>
        <p>Explora cómo el tarot puede iluminar tu camino, proporcionarte claridad en momentos de incertidumbre y
            ayudarte a tomar decisiones.</p>
        <p><span>Más allá de predecir el futuro, el tarot es una brújula para tu propio
                crecimiento y desarrollo.</span></p>
    </section>

    <section class="viaje">
        <h2>El viaje de la vida</h2>
        <p>En el corazón de las tiradas de TarotReader se encuentra el fascinante 'Viaje del Loco', representado por
            los Arcanos Mayores.</p>
        <p>El Viaje del Loco en el tarot es una metáfora simbólica que representa el viaje espiritual y personal a
            lo
            largo de la vida. Encarnado por la carta del Loco en los Arcanos Mayores, este personaje emprende un
            viaje
            desde la ingenuidad hasta la sabiduría. Cada carta de los Arcanos Mayores en el tarot simboliza una
            etapa
            única del viaje, capturando experiencias universales como el amor, la pérdida, el crecimiento y los
            desafíos. El Loco, sin conocimiento previo, se aventura en lo desconocido, aprendiendo lecciones
            valiosas en
            cada fase.</p>
        <p><span>Este viaje refleja la evolución constante y el desarrollo espiritual, ofreciendo una guía
                para la
                reflexión y el autoconocimiento a quienes exploran las cartas del tarot.</span></p>
    </section>

    <section class="llamada">
        <p>¿List@ para descubrir lo que el tarot tiene preparado para ti? <br> Elige la tirada a continuación y
            déjate
            guiar <br>
            por la magia de las cartas:</p>
    </section>

</div>

<section class="cartera">
    <div class="cartaEstatica" routerLink="/consejo">
        <div class="texto-hover">
            <span class="material-icons">
                auto_awesome
            </span>
            <hr>
            <p>Consejo Diario</p>
            <hr>
            <span class="material-icons">
                auto_awesome
            </span>
        </div>
    </div>
    <div class="cartaEstatica" routerLink="/si_o_no">
        <div class="texto-hover">
            <span class="material-icons">
                auto_awesome
            </span>
            <hr>
            <p>Tirada de Sí o No</p>
            <hr>
            <span class="material-icons">
                auto_awesome
            </span>
        </div>
    </div>
    <div class="cartaEstatica" routerLink="/autoestima">
        <div class="texto-hover">
            <span class="material-icons">
                auto_awesome
            </span>
            <hr>
            <p>Tirada de Cualidades</p>
            <hr>
            <span class="material-icons">
                auto_awesome
            </span>
        </div>
    </div>
</section>