.cabecera {
    width: 100%;
    height: 100px;
    margin-top: 2%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.cabecera h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 4rem;
    margin-left: 15%;
}

.descripcion {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.descripcion p {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 15%;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cartas {
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

img {
    display: block;
}

.carta {
    background-image: url(https://img.freepik.com/vector-gratis/fondo-pantalla-mistico-dibujado-mano_23-2149459343.jpg?w=360&t=st=1694264117~exp=1694264717~hmac=707048db6cd45ed26f54c696169d1eaf9a975464956853cee7f92f105283cb72);
    background-size: cover;
    max-width: 100%;
    width: 200px;
    height: 360px;
    border-radius: 20px;
    transition: 0.6s;
}

.carta:hover {
    transform: translateY(-83px);
}

/* .carta:nth-child(n) {
    z-index: n;
    position: absolute;
    left: calc(4% * (n - 1));
} */

.carta:nth-child(1) {
    z-index: 1;
    position: absolute;
    left: 0%;

}

.carta:nth-child(2) {
    z-index: 2;
    position: absolute;
    left: 4%;

}

.carta:nth-child(3) {
    z-index: 3;
    position: absolute;
    left: 8%;
}

.carta:nth-child(4) {
    z-index: 4;
    position: absolute;
    left: 12%;
}

.carta:nth-child(5) {
    z-index: 5;
    position: absolute;
    left: 16%;
}

.carta:nth-child(6) {
    z-index: 6;
    position: absolute;
    left: 20%;
}

.carta:nth-child(7) {
    z-index: 7;
    position: absolute;
    left: 24%;
}

.carta:nth-child(8) {
    z-index: 8;
    position: absolute;
    left: 28%;
}

.carta:nth-child(9) {
    z-index: 9;
    position: absolute;
    left: 32%;
}

.carta:nth-child(10) {
    z-index: 10;
    position: absolute;
    left: 36%;
}

.carta:nth-child(11) {
    z-index: 11;
    position: absolute;
    left: 40%;
}

.carta:nth-child(12) {
    z-index: 12;
    position: absolute;
    left: 44%;
}

.carta:nth-child(13) {
    z-index: 13;
    position: absolute;
    left: 48%;
}

.carta:nth-child(14) {
    z-index: 14;
    position: absolute;
    left: 52%;
}

.carta:nth-child(15) {
    z-index: 15;
    position: absolute;
    left: 56%;
}

.carta:nth-child(16) {
    z-index: 16;
    position: absolute;
    left: 60%;
}

.carta:nth-child(17) {
    z-index: 17;
    position: absolute;
    left: 64%;
}

.carta:nth-child(18) {
    z-index: 18;
    position: absolute;
    left: 68%;
}

.carta:nth-child(19) {
    z-index: 19;
    position: absolute;
    left: 72%;
}

.carta:nth-child(20) {
    z-index: 20;
    position: absolute;
    left: 76%;
}

.carta:nth-child(21) {
    z-index: 21;
    position: absolute;
    left: 80%;
}

.carta:nth-child(22) {
    z-index: 22;
    position: absolute;
    left: 84%;
}

.container2 {
    width: 80%;
    margin: 35% auto;
    background-color: rgba(248, 224, 222, 0.8);
    padding: 40px;
    border-radius: 20px;
    text-align: justify;
}

.container2 h2 {
    font-family: var(--fuentetitulos);
    font-size: 3rem;
}

.container2 p {
    font-family: var(--fuentetexto);
    color: var(--colorgrisoscuro);
    font-size: 1.3rem;
}

.container2 section {
    margin-bottom: 50px;
}

.container2 .llamada p {
    font-family: var(--fuentetexto);
    color: var(--colornegro);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

span {
    font-weight: 700;
}