<div class="container">
    <div class="cartas">
        <div class="carta" *ngFor="let carta of cartas" (click)="mostrarDetalles(carta)">
        </div>
    </div>
</div>

<div class="container" *ngIf="cartaSeleccionada">

    <div class="cartaSeleccionada">
        <figure>
            <img src="{{cartaSeleccionada.imagen}}" alt="{{cartaSeleccionada.nombre}}">
        </figure>

        <div class="texto">
            <h2>{{cartaSeleccionada.nombre}}</h2>
            <p>{{cartaSeleccionada.cualidades}}</p>
        </div>
    </div>

</div>